scikit-learn
matplotlib
pandas
numpy
seaborn
tensorflow
mediapipe
opencv-python
pyarrow
fastparquet
ipykernel
googletrans==4.0.0-rc1
google_speech
gTTS
playsound
pyttsx3
tk
streamlit
SpeechRecognition
PyAudio
flask
moviepy